[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
django = "==4.2.2"
channels = "*"
uvicorn = "*"
watchfiles = "*"

[dev-packages]

[requires]
python_version = "3.12"
